   * {
    margin:0 auto;
    padding:0;
}
 
 
 .container {
        
        padding:20px 0 30px 0;
        
    }
    
    .col-sm-4 {
        background-color: #4682b4;
        padding: 20px 0 30px 0;
        border-radius:10px;
    }